@page "/pedel"
@using Client.Services;
@inject HttpClient Http;

<h1 class="mb-3 mt-3">Booking List</h1>
<table class="table table-striped">
    <thead>                     
        <tr>
            <th>Booking ID</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Tlf</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Start</th>
            <th>Slut</th>
            <th>Antal Pers</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in bookingList)
        {
            <tr>
                <td>@item.BookingId</td>
                <td>@item.fornavn</td>
                <td>@item.efternavn</td>
                <td>@item.tlf</td>
                <td>@item.adresse</td>
                <td>@item.email</td>
                <td>@item.start</td>
                <td>@item.slut</td>
                <td>@item.antal_pers</td>
                <td>@item.kommentar</td>
                <td><button type="button" @onclick="() => RemoveItem(item)">X</button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    /* Gammel kode
    private BookingItems booking = new BookingItems();

    private BookingItems[]? bookingList = new BookingItems[0];

    private EditContext aEditContext;

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(booking);
    }

    protected override async Task OnInitializedAsync()
    {
        bookingList = await Http.GetFromJsonAsync<BookingItems[]>("https://localhost:7201/api/booking");
    }

    private async Task RemoveItem(BookingItems item)
    {
        await Http.DeleteAsync($"https://localhost:7201/api/booking/{item.BookingId}");
        OnInitializedAsync();
    }*/

    //Ny kode
    private BookingItems[]? bookingList = new BookingItems[0];

    [Inject]
    private IBookingService mService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bookingList = (await mService.getBookings()).ToArray();
    }

    private BookingItems booking = new BookingItems();

    private EditContext aEditContext;

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(booking);
    }

    private async Task RemoveItem(BookingItems item)
    {
        await mService.RemoveItem(item);
    }



}