@page "/userinfo"
@using Client.Services;
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;


@if (userItem != null)
    {
        <!-- container til bruger info -->
        <div class="normal-container">
            <div class="normal-title">Din profil   <span class="oi oi-person"></span></div>
            <div class="content">
                <div class="user-details">

                    <div class="input-box">
                        <label for="name">Fornavn:</label>
                        <InputText id="name" @bind-Value="userItem.name" class="form-control" disabled="@(!isEditMode)" />
                    </div>

                    <div class="input-box">
                        <label for="lastname">Efternavn:</label>
                        <InputText id="lastName" @bind-Value="userItem.lastName" class="form-control" disabled="@(!isEditMode)" />
                    </div>

                    <div class="input-box">
                        <label for="address">Adresse:</label>
                        <InputText id="address" @bind-Value="userItem.address" class="form-control" disabled="@(!isEditMode)" />
                    </div>

                    <div class="input-box">
                        <label for="email">Email:</label>
                        <InputText id="email" @bind-Value="userItem.email" class="form-control" disabled="@(!isEditMode)" />
                    </div>

                    <div class="input-box">
                        <label for="telephone">Telefonnummer:</label>
                        <InputText id="telephone" @bind-Value="userItem.telephone" class="form-control" disabled="@(!isEditMode)" />
                    </div>

                    <div class="input-box">
                        <label for="birthDate">Fødselsdato:</label>
                        <InputDate id="birthDate" @bind-Value="userItem.birthDate" class="form-control" disabled="@(!isEditMode)" />
                    </div>

                    <div class="input-box">
                        <label for="role_id">Rolle:</label>
                        <InputSelect id="role_id" @bind-Value="userItem.role_id" disabled class="form-control">
                            @foreach (var role in roleList)
                                {
                                    <option value="@role.role_id">@role.roleName</option>
                                }
                        </InputSelect>
                    </div>

                    <div class="input-box">
                        <label for="password">Password:</label>
                        <InputText id="password" @bind-Value="userItem.password" type="password" class="form-control" disabled="@(!isEditMode)" />
                    </div>

                        @if (!isEditMode)
                        {
                            <!-- Redigeringsknappen vises, når brugeren ikke er i redigeringsmode -->
                            <button type="button" class="btn btn-link" @onclick="EnableEditMode"><span class="oi oi-pencil"></span></button>
                        }
                        else
                        {
                            <!-- Knapper til at gemme ændringer eller annullere redigeringen -->
                            <button type="button" class="btn btn-success" @onclick="SaveChanges"><span class="oi oi-circle-check"></span></button>
                            <button type="button" class="btn btn-secondary" @onclick="DisableEditMode"><span class="oi oi-circle-x"></span></button>
                        }
                </div>
            </div>
        </div>
        }
    else
    {
        <p>Brugeroplysninger blev ikke fundet.</p>
    }


@code {

    //Variable til at holde brugerens ID
    public int userId { get; set; }

    //Tjeneste til vores service
    [Inject]
    private IUserService mService { get; set; }
    [Inject]
    private IRoleService rService { get; set; }

    //Egenskaber
    private UserDTO userItem;
    private bool isEditMode = false;
    private UserDTO originalUserItem;
    private RoleDTO[]? roleList = new RoleDTO[0];

    protected override async Task OnInitializedAsync()
    {
        // Indlæs bruger-id fra session storage
        userId = await sessionStorage.GetItemAsync<int>("userId");
        if (userId == 0)
        {
            //Er bruger-id ikke tilgængeligt, omdiriger til forsiden
            NavigationManager.NavigateTo($"/");
        }

        try
        {
            await LoadUserData();
            roleList = (await rService.getRole()).ToArray();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task LoadUserData()
    {
        // Hent brugeroplysninger fra serveren baseret på bruger-id'et
        userItem = await mService.GetUserById(userId);
        originalUserItem = new UserDTO
        {
            // Gem de oprindelige brugeroplysninger hvis redigering annulleres
            name = userItem.name,
            lastName = userItem.lastName,
            address = userItem.address,
            email = userItem.email,
            telephone = userItem.telephone,
            birthDate = userItem.birthDate,
            role_id = userItem.role_id,
            password = userItem.password
        };
    }

    private void EnableEditMode()
    {
        // Aktiver redigeringsmode
        isEditMode = true;
    }

    private void DisableEditMode()
    {
        //Deaktiver redigeringsmode
        isEditMode = false;

        //Nulstil brugeroplysninger til oprindelige værdier
        userItem.name = originalUserItem.name;
        userItem.lastName = originalUserItem.lastName;
        userItem.address = originalUserItem.address;
        userItem.email = originalUserItem.email;
        userItem.telephone = originalUserItem.telephone;
        userItem.birthDate = originalUserItem.birthDate;
        userItem.role_id = originalUserItem.role_id;
        userItem.password = originalUserItem.password;
    }

    private async Task SaveChanges()
    {
        // Gem ændringer på serveren
        await mService.UpdateUser(userItem);

        isEditMode = false;
    }
}