@page "/userinfo"
@page "/userinfo/{userid:int}"
@using Client.Services;

<h1 class="mb-3 mt-3">Mine oplysninger:</h1>

@if (userItem != null)
{
    <div class="col-md-3 mb-3">
        <label for="name">Fornavn:</label>
        <div class="input-group">
            <InputText id="name" @bind-Value="userItem.name" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="lastName">Efternavn:</label>
        <div class="input-group">
            <InputText id="lastName" @bind-Value="userItem.lastName" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="address">Adresse:</label>
        <div class="input-group">
            <InputText id="address" @bind-Value="userItem.address" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="email">Email:</label>
        <div class="input-group">
            <InputText id="email" @bind-Value="userItem.email" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="telephone">Telefonnummer:</label>
        <div class="input-group">
            <InputText id="telephone" @bind-Value="userItem.telephone" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="birthDate">Fødselsdato:</label>
        <div class="input-group">
            <InputDate id="birthDate" @bind-Value="userItem.birthDate" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="role_id">Rolle: Koordinator = 1, Frivillig = 2</label>
        <div class="input-group">
            <InputNumber id="role_id" @bind-Value="userItem.role_id" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="password">Password:</label>
        <div class="input-group">
            <InputText id="password" @bind-Value="userItem.password" type="password" class="form-control" disabled="@(!isEditMode)" />
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <div class="input-group">
            @if (!isEditMode)
            {
                <button class="btn btn-primary" @onclick="EnableEditMode">Edit</button>
            }
            else
            {
                <button class="btn btn-success" @onclick="SaveChanges">Save</button>
                <button class="btn btn-secondary" @onclick="DisableEditMode">Cancel</button>
            }
        </div>
    </div>
    }
    else
    {
   
    <p>Brugeroplysninger blev ikke fundet.</p>
    }
@code {
    [Parameter]
    public int userid { get; set; }

    [Inject]
    private IUserService mService { get; set; }

    private UserDTO userItem;
    private bool isEditMode = false;
    private UserDTO originalUserItem;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserData();
    }

    private async Task LoadUserData()
    {
        userItem = await mService.GetUserById(userid);
        originalUserItem = new UserDTO
        {
            name = userItem.name,
            lastName = userItem.lastName,
            address = userItem.address,
            email = userItem.email,
            telephone = userItem.telephone,
            birthDate = userItem.birthDate,
            role_id = userItem.role_id,
            password = userItem.password
        };
    }

    private void EnableEditMode()
    {
        isEditMode = true;
    }

    private void DisableEditMode()
    {
        isEditMode = false;
        // Reset the userItem to its original values
        userItem.name = originalUserItem.name;
        userItem.lastName = originalUserItem.lastName;
        userItem.address = originalUserItem.address;
        userItem.email = originalUserItem.email;
        userItem.telephone = originalUserItem.telephone;
        userItem.birthDate = originalUserItem.birthDate;
        userItem.role_id = originalUserItem.role_id;
        userItem.password = originalUserItem.password;
    }

    private async Task SaveChanges()
    {
        await mService.UpdateUser(userItem);
        isEditMode = false;
    }
}