@page "/usershifts"
@*@page "/usershifts/{userid:int}"*@
@using Client.Services;
@inject HttpClient Http;

<h1 class="mb-3 mt-3">Vagt Liste</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Vagt ID</th>
            <th>Start Tidspunkt</th>
            <th>Slut Tidspunkt</th>
            <th>Længde</th>
            <th>Kategori ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shift in shiftList)
        {
            <tr>
                <td>@shift.shift_id</td>
                <td>@shift.startDateTime</td>
                <td>@shift.endDateTime</td>
                <td>@shift.duration</td>
                <td>@shift.category_id</td>
                <td><button type="button" @onclick="() => TakeShift(userShift)">Y</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int userid { get; set; }

    private ShiftDTO[]? shiftList = new ShiftDTO[0];

    private UserShiftDTO[]? userShiftList = new UserShiftDTO[0];

    [Inject]
    private IShiftService mService { get; set; }

    [Inject]
    private IUserShiftService uService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        shiftList = (await mService.getShifts()).ToArray();
        userShiftList = (await uService.GetUserShifts()).ToArray();
    }

    private ShiftDTO shift = new ShiftDTO();

    private UserShiftDTO userShift = new UserShiftDTO();

    private EditContext aEditContext;

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(shift);
        aEditContext = new EditContext(userShift);
    }

    private async Task TakeShift(UserShiftDTO userShift)
    {
        userShift.shift_id = shift.shift_id;
        userShift.user_id = userid;

        await uService.TakeShift(userShift);

        //Sørger for at genindlæse UI'en så vagt listen opdateres med det samme.
        userShiftList = (await uService.GetUserShifts()).ToArray();
        StateHasChanged();
    }
}