@page "/usershifts"
@using Client.Services;
@inject HttpClient Http;
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

<h1 class="mb-3 mt-3">Mine vagter</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Start Tidspunkt</th>
            <th>Slut Tidspunkt</th>
            <th>Længde</th>
            <th>Kategori</th>
            <th>Beskrivelse</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in userShiftList)
        {
            @if (user.user_id == userId)
            {
                @foreach (var shift in shiftList)
                {
                    @if (user.shift_id == shift.shift_id)
                    {
                        var category = catList.FirstOrDefault(c => c.category_id == shift.category_id);
                        if (category != null)
                        {
                            <tr>
                                <td>@shift.startDateTime</td>
                                <td>@shift.endDateTime</td>
                                <td>@shift.duration</td>
                                <td>@category.categoryName</td>
                                <td>@category.description</td>
                            </tr>
                        }
                    }
                }
            }
        }
    </tbody>
</table>

@code {
    public int userId { get; set; }

    private ShiftDTO[]? shiftList = new ShiftDTO[0];

    private UserShiftDTO[]? userShiftList = new UserShiftDTO[0];

    private ShiftCategoryDTO[]? catList = new ShiftCategoryDTO[0];

    [Inject]
    private IShiftService mService { get; set; }

    [Inject]
    private IUserShiftService uService { get; set; }

    [Inject]
    private ICategoryService cService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        userId = await sessionStorage.GetItemAsync<int>("userId");
        if (userId == 0)
        {
            NavigationManager.NavigateTo($"/");
        }

        try
        {
            shiftList = (await mService.getShifts()).ToArray();
            userShiftList = (await uService.GetUserShifts()).ToArray();
            catList = (await cService.getCategories()).ToArray();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private ShiftDTO shift = new ShiftDTO();

    private UserShiftDTO userShift = new UserShiftDTO();

    private ShiftCategoryDTO category = new ShiftCategoryDTO();

    private EditContext aEditContext;

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(shift);
        aEditContext = new EditContext(userShift);
        aEditContext = new EditContext(category);
    }
}